<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-NG">
  <%- include ("../partials/header") %>
  <body>
    <div class="wrapper">
      <%- include ("../partials/banner") %>
      <main class="content-wrapper">
        <div>
          <h4 style="text-align: center; margin: 20px 0 20px 0">Your Application is Processing</h4>
        </div>
        <div class="content">
          <p>Dear <%= firstName %> <%= lastName %>, <br /></p>
          <p>Your application for <%= application.name %> is currently processing.</p>
          <p>
            You will get a notification once your application has been reviewed and is ready for
            pickup/delivery.
          </p>
          <div class="extra">
            <p>
              Thanks <br />
              NBA Lagos Branch
            </p>
          </div>
        </div>
      </main>
      <%- include ("../partials/footer") %>
    </div>
  </body>
</html>
