<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-NG">
  <%- include ("../partials/header") %>
  <body>
    <div class="wrapper">
      <%- include ("../partials/banner") %>
      <main class="content-wrapper">
        <div>
          <h4 style="text-align: center; margin: 20px 0 20px 0">Payment confirmed</h4>
        </div>
        <div class="content">
          <p>
            Dear <%= firstName %> <%= lastName %>, <br />
            You just made a new payment, please find the details below
          </p>
          <div class="receipt">
            <ul>
              <h4 style="margin: 0 0 8px 0">Order Summary</h4>
              <% items.forEach(({name, amount}) => { %>
              <li>
                <span><%= name %>:</span>
                <span style="text-align: right; margin-left: 10px"><%= amount %></span>
              </li>
              <hr style="border: 1px solid #ccc" />
              <li>
                <% }) %>
                <span>Total:</span>
                <span style="display: inline-block; font-weight: 800; margin-left: 10px"><%= total %></span>
              </li>
            </ul>
          </div>
          <a href="<%= url %>"><button>View Payments</button></a>
        </div>
      </main>
      <%- include ("../partials/footer") %>
    </div>
  </body>
</html>
